body{
    background-color: #fffbf3;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2em;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin: 2em;

    a {
        text-decoration:  none;
        color:white;
        font-size:  1.2rem;

    }
}

.wrap {
    margin: 0;
    justify-content: space-between;
    font-family: 'Winky Rough', Times, serif;
    background-image: url("website\ image\ draft.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5); /* Add a dark color */
    background-blend-mode: darken; /* Blend the color with the image */
    animation: change 20s infinite ease;
}

@keyframes change {
    0% { background-image: url("website\ image\ draft2.jpg"); }
    25%{ background-image: url("image\ 2-hd.jpg"); }
    75% { background-image: url("website\ image\ draft.jpg"); }
    100% { background-image: url("website\ image\ draft2.jpg"); }
}


nav ul 
{
    background:rgb(78, 83, 83);
    position: fixed;
    z-index:999;
    top: 0;
    right: 0;
    height: 100vh;
    margin: 0;
    list-style: none;
    width: 40%;
    text-align: right;
    padding: 2em;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;

    li {
        margin: 2em 0;

        &:nth-of-type(1){
            margin-bottom: 4em;
        }

        a {
            color:white;
            text-decoration: none ;
            font-size: 1.5rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.open{
    transform: translateX(0%);
}

@media (min-width: 798px){
    .wrap{
        margin: 0 ;
    }

    .hide-desktop{
        display: none;
    }
    .header-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        margin-top: 1em;

        a {
            text-decoration:  none;
            color:white;
            font-size:  1.2rem;
            font-weight: 700;

        }
    }
    nav ul{
        position: unset;
        background: none;
        display:flex;
        gap: 2em;
        height: auto;
        width: auto;
        transform: translateX(0%);

        li a{
            font-size: 1.2rem;
        }
    }
}
@media (min-width: 1200px) {

    .wrap{
        margin: 0;
        padding: 0 2em;
        max-width: 1210px;
    }
    
}
h1{
    font-size: 2rem;
    color: black;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: 'Raleway';
    font-weight: 500;
    position: relative; /* Required for the ::after pseudo-element */
}

h1::after {
    content: ""; 
    position: absolute;
    bottom: -40px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 30%;
    height: 2px;
    background-color: rgb(198, 193, 193);
}

p {
    font-size: 1rem; 
    line-height: 1.6;
    color: black;
    margin-top: 0.5em;
    margin-bottom: 1em;
    text-align: justify;
    padding: 0 1em; 

    font-family: 'Lato';}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allows child elements to wrap if needed */
    align-items: flex-start; /* Prevents height constraints */
    min-height: 400px;
    margin-top: 10em;
    background-color:rgb(50, 48, 48) ;

}    

.aa:hover
{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}
.bb:hover
{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}
.cc :hover
{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}
.container div
{
    background-color: white;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;   
    height: 500px;
    margin: 60px; /* Center the container */
}

h2{
    font-size: 2rem;
    color: black;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: 'Raleway';
    font-weight: 500;
    position: relative; /* Required for the ::after pseudo-element */
}

h2::after {
    content: ""; 
    position: absolute;
    bottom: -40px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 30%;
    height: 2px;
    background-color: rgb(198, 193, 193);
}

.vision {
    text-align: center;
    background-image: url(gate2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.8); /* Add a dark color */
    background-blend-mode: darken; /* Blend the dark color with the image */
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center elements vertically */
    align-items: center; /* Center elements horizontally */
}

.vision h3 {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem; /* Add spacing below the heading */
    font-family: 'pacifico', sans-serif;
    font-style: italic;
    font-weight: 100;
}

.vision p1 {
    font-size: 2rem;
    color: white;
    font-family: 'Pacifico', sans-serif;
    text-align: center;
    max-width: 600px;
    font-style: italic;
    font-weight: 100;
}
.chamwada{
    background-color: rgb(50, 48, 48) ;
}

h4, p2 {
    text-align: center;
    color: white;

}

h4 {
    margin-top: 0;

}

p2 {
    font-size: 1.2rem;
    line-height: 1.5;
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
}
.footer__container{
    background-color: white;
    padding: 5rem 0;
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;

}
.footer__links{
    width: 100%;
    display: flex;
    max-width: 1000px;
    justify-content: center;
}
.footer__links--wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 0;
    text-align: left;
    width: 160px;
    box-sizing: border-box;

}
.footer__link--items h5 {
    margin-bottom: 16px;
}
.footer__link--items a {
    color:black;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
.footer__link--items > h2{
    color: black;
}
.footer__link--items a:hover{
    color: red;
    transition: 0.3s ease-out;
}
.social__icons--links{
    color: black    ;
    font-size: 24px;
}
.social__icons--links:hover {
    color: red; /* Change color on hover */
    transform: scale(1.1); /* Slight zoom effect */
    transition: 0.3s ease-in-out;
}
.social__media {
    max-width: 1000px;
    width: 100%;
}
.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}
.social__icons {
    display : flex;
    justify-content: space-between;
    width: 240px;
    align-items: center ;

}
.social__logo {
    color: black;
    font-size: 2rem;
    text-decoration: none;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    display: flex;
}
.website__rights {
    color: black
}
@media screen and (max-width: 820px) {
    .footer__links{
        padding-top: 2rem;
    }
    .website__rights{
        margin-bottom: 2rem;
    }
    .footer__links--wrapper{
        flex-direction: column;
    }
    .social__media--wrap {
        flex-direction: column;
        
    }

    
}
@media screen and (max-width: 480px) {
    .footer__links--items{
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}